@{
  ViewData["Title"] = "勤怠実績一覧表";
}

<div class="text-center">
  <h1 class="display-4">勤怠実績一覧表</h1>
</div>

<div>
  <h2 class="display-6">社員情報</h2>
  <ul>
    <li>社員ID:00001</li>
    <li>社員名:田中太郎</li>
  </ul>
</div>

<div>
  <p>2019年11月</p>
  <table class="table">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>取消</th>
        <th>始業時刻</th>
        <th>終業時刻</th>
        <th>実働時間</th>
        <th>勤怠区分</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>金</td>
        <td><button>取消</button></td>
        <td>9:00</td>
        <td>18:00</td>
        <td>8:00</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
